.topnav {
  background-color: #fce38a;
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 0;
  border-bottom: 2px black solid;
  height: 50px;
  z-index: 5;
  display: flex;
  align-items: center;
}

.topnav a {
  color: #0e5f76;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  align-items: center;
}

.topnav a:hover {
  background-color: grey;
  color: white;
  transition-duration:0.3s;
}



ul {
  padding: 0
}


body {
  margin: 0;
}

h1 {
  color: white;
}

.heading1 {
  padding-top: 60px;
  padding-bottom: 25px
}

h2 {
  color: white;
  padding-top: 20px;
  margin: 0;
  text-align: center;
  text-decoration: underline
}


h3 {
  text-align: center;
  color: white;
  padding-top: 15px;
}




.list {
  padding: 10px;
  position: absolute;
  box-sizing: border-box;
  top: -30px;
  left: 58px;

}

li {
  padding: 2px;
  color: #fce38a
}


.image-and-list {
  width: 860px;
  height: auto;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 60px;
  display: flex;
  position: relative;
  justify-content: center;
}

.navbar a {
  text-decoration: none;
  color: #fce38a;
}

.navbar {
  position: absolute;
  top: 96px;
  right: 115px;

}

.img {
  height: 500px;
  margin: 0;
  box-sizing: border-box;
}

.aboutimage {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: black solid 2px;
  object-fit: cover;
}

.about {
  background-color: #0e5f76;
  padding-bottom: 0;
}


hr {
  border: 0;
  margin: 0;
  padding: 0;
  height: 2px;
  background-color: gray;
}

* {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}


body {
  font-family: helvetica;
}



.carsheading {
  padding-bottom: 30px;
}

.cars {
  background-color: #083d56;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 50px
}


.image-grid {
  gap: 16px;
  padding: 16px 16px 60px 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
    /* Changes to 2 columns */
    grid-auto-rows: 200px;
    /* Changes row height */
  }
}

.supermarkets {
  background-color: #0c2233
}

.image-grid>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.grid-img {
  border-radius: 10px;
  border: 2px solid black;
}

.super {
  height: 300px;
  width: 500px;
  margin: auto;
  padding-bottom: 20px;

}

#super {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 2px solid black;
}

#supermarkets {
  padding-bottom: 30px
}

.image-grid-col2 {
  grid-column: span 2
}

.image-grid-row2 {
  grid-row: span 2
}