.topnav {
    background-color: #fce38a;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 0;
    border-bottom: 2px black solid;
    height: 50px;
  }
  
  .heading1 {padding-top:55px;}
  
  body {
    margin: 0
  }
  
  h2 {
    color: white;
    padding-top: 10px;
  }
  
  
  
  .img {
    height: 500px;
    width: 430px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  .aboutimage {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: black solid 2px
  }
  
  .about {
    background-color: #0e5f76;
  }
  
  .topnav a {
    float: left;
    color: #0e5f76;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: grey;
    color: white;
  }
  
  
  
  .spacer {
    width: 10px;
    height: 500px
  }
  
  * {
    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }
  
  body {
    font-family: helvetica;
  }
  
  h1 {
    color: white;
  }
  
  h2 {
    text-align: center;
    text-decoration: underline
  }
  
  .list {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px
  }
  
  li {
    padding: 2px;
    color: #fce38a
  
  }
  
  
  h2{margin:0}
  
  .carsheading {padding-bottom:30px;}
  
  .cars {
    background-color: #083d56;
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-padding-top: 50px
  }
  
  .image-grid {
    gap: 16px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    box-sizing: border-box;
  }
  
  .supermarkets {background-color:#0c2233}
  
  .image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  @media screen and (max-width: 1024px) {
    .image-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 200px;
    }
  }
  
  
  .image-grid-col2 {
    grid-column: span 2
  }
  
  .image-grid-row2 {
    grid-row: span 2
  }