body {padding-top:60px}

.topnav {
    background-color: #fce38a;
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 0;
    border-bottom: 2px black solid;
    height: 50px;
    z-index: 5;
    display: flex;
    align-items: center;
  }
  
  .topnav a {
    color: #0e5f76;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    align-items: center;
  }
  
  .topnav a:hover {
    background-color: grey;
    color: white;
  }